
html, body {
	background-color: #333333;
	height: 100%;
	width: 100%;
}


div {
	border: 0px black solid;
	position: relative;
	display: inline-block;
}

p {
	text-align: justify;
	text-indent: 0px;
	line-height: 1;
	letter-spacing: 2px;
	word-spacing: 5px;
	font-size: 16px;
	color: gray;
	margin-right: 3%;
	margin-left: 3%;
	overflow: scroll;
	height: 40%;
}

img {
	margin-top: 2%;
	margin-bottom: 2%;
	width: 100%;
	height: 60%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 3%;
    float:  left;
}


.container {
	background-color: #D8D8D8;
	height:95%;
	margin-bottom: 3%;
}

.box {
	background-color: #FFFFFF;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
}

.upperbox {
	height: 25%;
	margin-top: 2%;
}

.lowerbox {
	height: 65%;
	margin-top: 2%;
}

.innerbox {
	margin-left: 2%;
	margin-right: 2%;
}

#footer {
    background-color:black;
    float: right;
    clear:both;
    text-align:center;
   	padding:5px; 	 
}

.footerTxt {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 5%;
}

.red {
	background-color: #D0021B;
}

.blue {
	background-color: #4A90E2;
}

.black {
	background-color: black;
}