html, body {
	background-color: #333333;
	height: 100%;
	width: 100%;
}


div {
	border: 0px black solid;
	display: inline-block;
	top:auto;
}

p {
	text-align: justify;
	text-indent: 0px;
	line-height: 1;
	letter-spacing: 2px;
	word-spacing: 5px;
	font-size: 16px;
	color: gray;
	overflow: scroll;
}

ul {
    position: fixed;
    top: 0;
    width: 97%;
    margin-right: 2%;
}

li {
	display: inline;
	color: #FFFFFF;
	float: left;
	padding-right: 1%;
	border-right: 0px #FFFFFF solid;
}

li:last-child {
	border: none;
}

#header {
    background-color: #333333;
    width: 100%;
    height:5%;
   	float: left;
}

#footer {
    background-color: #333333;
    width: 100%;
   	height:5%;
}

img {
	width: 100%;
	height: 40%;
}

.container {
	background-color: #FFFFFF;
	position: relative;
	height:90%;
	width: 100%
}

.leftbox {
	height: 90%;
	width:45%;
	margin-left: 2.5%;
	margin-right: 0%;
	margin-top: 2%;
}

.rightbox {
	height: 90%;
	width: 45%;
	margin-left: 1.5%;
	margin-right: 1%;
	margin-top: 2%;
	vertical-align: top;
}

.red {
	background-color: #D0021B;
}

.blue {
	background-color: #4A90E2;
}

.black {
	background-color: black;
}