
html, body {
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
}


div {
	border: 0px black solid;
	position: relative;
	display: inline-block;
}

p {
	text-align: justify;
	table-layout: auto;
	font: sans-serif;
	font-size: 20px;
	overflow: scroll;
	width: 97%;
}


.container {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.subcontainer {
	width: 100%;
}

.box {
	height:100%;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	background-color: grey;
}

.small_box {
	height:10%;
	width: 32%;
}

.medium_box {
	height:20%;
	width: 32%;
}

.large_box {

}

.width_25 {
	width: 15%;
}

.width_30 {
	width: 20%;
}

.margin-left {
	margin-left: 5%;
}

.margin-top {
	margin-top: 1%;
}


.float_left {
	float:left;
}

.float_right {
	float: right;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.black {
	background-color: black;
}